*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 19, 58);
    color: #fff;
}
#parent{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: auto;
}
#heading{
    color: rgb(23, 2, 2);
    padding: 1.2rem;
    font-size: 3rem;
}
.btn{
    width: 100px;
    height: 70px;
}
p{
    color: rgb(23, 2, 2);
    font-size: 2rem;
    font-weight: bold;  
}
#blue{
    background-color: rgb(135, 7, 255);
    border-radius: 10px;
 
}
#green{
    background-color: greenyellow;
    border-radius: 10px;
}
#aqua{
    background-color: rgb(9, 255, 255);
    border-radius: 10px;
}
#red{
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}
